@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
	font-family: 'Quicksand', sans-serif;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.myborder{
	border: 1px solid black;
	border-radius: 5%;
}

.btn{
	width: 100%;
	cursor: pointer;
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover{
	background-color: #581845;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #FFD700;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.txtcen{
	text-align: center;
}

.mt12{
	margin-top: 12px;
}

.form-text {
    display: block;
    margin-top: 0.25rem;
}

.text-muted {
    color: #6c757d!important;
}

@media (min-width: 1200px){
.container {
    width: 1170px;
}
}

@media (min-width: 992px){
	.container {
    width: 970px;
}
}

@media (min-width: 768px){
	.container {
    width: 750px;
}
}

